<div style="padding-block: 30px; display:flex; flex-direction:column; align-items: center " >
    <h1  style="margin-block:10px; font-size: 20px; text-align:center">SALA DE CHAT</h1>
    <form onsubmit="return enviar()">
        <input id="caja-mail" type="text" placeholder="E-mail"/>
        <input id="caja-msg" type="text"/>
        <input type="submit" value="Enviar" />
    </form>
    <div id="div-chats"></div>
</div>