<div>
    {{encabezado}}
    <h1>Producto ingresado</h1>
    <div style="display:flex; flex-direction: row;justify-content: center;">
    {{#if productsExist}}
            <div style="border-style:solid; padding:20px ;margin-block:10px ;text-align:center; width:200px">
                <h2>{{products.nombre}}</h2>
                <h3>{{products.precio}}</h3>
                <img src="{{products.thumbnail}}" class="product-img"/>
            </div>
    {{/if}}
    </div>
    <form style="display:flex; flex-direction: row;justify-content: center;" action="/" method="get">
        <button name="boton" type="submit">CARGAR PRODUCTO</button>
    </form>
    <form style="display:flex; flex-direction: row;justify-content: center;" action="/api/productos" method="get">
        <button name="boton" type="submit">VER PRODUCTOS</button>
    </form>
<div/>